.card-container{
    display: flex;
    flex-direction: row;
    border: 2px solid lightgreen;
    padding: 0px 20px;
    margin-top: 20px;
}
.card-name-section{
    width: 70%;
    padding-right: 10px;
}
.card-details{
    width: 30%;
}
.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}