.search-bar{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
}
input{
    height: 25px;
    border: 1px solid orange;
    border-radius: 4px;
    padding: 0px 6px;
}